<!DOCTYPE html>
<html>
<head>
  <title>Bio</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
<h3><a href= "/">Bio</a></li>
<h3><a href= "/address">Address</a></li>
<p>Welcome to the Sinatra Framework</p>
<%= yield %>
</body>
</html>